<div class="titleUni position-absolute top-0 start-100 translate-middle">
  <h1><strong class="title">UNIFIEDGG</strong></h1>
</div>
{{!-- <!-- Dashboard elements -->
<div class="container">

  <div class="position-absolute top-50 start-50 translate-middle">
    <h2 class="dashboard">Dashboard</h2>
    <div class="latestPosts">
      <p class="latestTitle">Latest posts</p>
      <ul class="posts">
        <li>post1</li>
        <li>post2</li>
        <li>post3</li>
      </ul>
    </div>
  </div>
</div> --}}



<div class="container-fluid">
  <div class="row">

    <!-- Chat -->
    <div id="chat" class="col-10">
      <h3>Chat</h3>
    </div>

    <!-- Group -->
    <div id="group" class="col">
      <h3 id="group_name">Create Group</h3>

      <!-- select a game dropdown list -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select a Game</option>
        <option value="1">Valorant</option>
        <option value="2">CSGO</option>
        <option value="3">Destiny</option>
        <option value="4">LoL</option>
      </select>

      <!-- select platform dropdown list -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select a Platform</option>
        <option value="1">PC</option>
        <option value="2">PS</option>
        <option value="3">Xbox</option>
      </select>

      <!-- select region dropdown list -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select a Region</option>
        <option value="1">Oceania</option>
        <option value="2">North America</option>
        <option value="3">South America</option>
        <option value="4">Asia</option>
        <option value="5">Africa</option>
        <option value="6">europe</option>
      </select>

      <!-- select no player dropdown list -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select a Region</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      <div class="mb-3">

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
          placeholder="Please add more info to your group post so people know what you're looking for! (i.e. mic required etc)"></textarea>
      </div>

      <!-- Button -->
      <button type="button" class="btn btn-primary" id="post_button">POST GROUP</button>


    </div>
  </div>
</div>