   
   {{!-- Landing Page/Submit/Login buttons --}}
    <div class="position-absolute top-50 start-50 translate-middle landingpage">
        <button type="button" class="btn btn-primary btn-lg landingpage" id="loginBtn">Login</button>
        <button type="button" class="btn btn-primary btn-lg landingpage" id="signUpBtn">Sign Up</button>
    </div>

    <script src="/js/landingNavigation.js"></script>
   