   
   {{!-- Landing Page/Submit/Login buttons --}}
    <div class="position-absolute top-30 start-50 translate-middle">
        <button type="button" class="btn btn-primary btn-lg" id="loginBtn">Login</button>
        <button type="button" class="btn btn-primary btn-lg" id="signUpBtn">Sign Up</button>
    </div>
   