<header>
        <!-- title -->
    </header>
<div class="container">
      
      <div class="card cardlogin" style="z-index:1000;">
        
        <h2>GG WP HF GL</h2>
        <form id="login-form">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter Email Here" />
          </div>
          
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password Here" />
            </div>
           

          <button type="submit" class="btn"></button>
          <div class="login-register">
            <p>Don't have an account? <a href="https://unifiedgg.herokuapp.com/signUp" class="register-link">Register</a></p>
          </div>


          <div id="msg"></div>
          <button type="submit" id="sign-up">Login</button>
        </form>
      </div>
    </div>
    
  
    <script src="/js/login.js"></script>
  </body>
</html>
    