<header>
        <!-- title -->
    </header>
    <div class="container">
      <img class="photo" src="/photos/loginBackgroundImg.jpg" alt="gaming image, headphones, keyboard and mouse">
      <div class="card">
        <h2>GG WP HF GL</h2>
        <form method="POST">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter Email Here" />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password Here" />
            <div>Don't have an accout? CLICK HERE</div>
          </div>
          <div id="msg"></div>
          <button id="sign-up">Login</button>
        </form>
      </div>
    </div>
    