<head>
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="small-aboutme">
		<img src="" alt="avatar" class="profile-img">
		<h1>Ben Swansson</h1>
		<p class="short-description"></p>
		<p>looking for a carry for LoL</p>
		
	   <div class="dropdown-game-status">
	    <select id="busy" name="busy">
	      <option value="">Select an option:</option>
	      <option value="away">Away</option>
	      <option value="busy">Busy</option>
		  <option value="busy">In game </option>
	    </select>
	  </div>

      <div class="dropdowns-profile-page">
	    <select id="game" name="game">
	      <option value="">Select an option:</option>
	      <option value="away">LoL</option>
	      <option value="busy">game 2</option>
          <option value="busy">game 3</option>
          <option value="busy">game 4</option>
	    </select>
	  </div>

	</div>

</body>
</html>