 <div class="container position-absolute top-50 start-50 translate-middle w-25" id="signUpBox">
        <div class="card2">

        <h2>Sign Up</h2>
        <form>
          <div class="input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="example@mail.com" />
          </div>
          
          <div class="input">
            <label for="email">Username</label>
            <input type="text" name="email" id="username" placeholder="gamer123" />
          </div>

          

            <div class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="example123" />
          </div>

          <div id="Reg"></div>
          <button id="sign-up" style="margin-left: 10px">Register</button>
          <button id="loginBtn" style="margin-right: 10px">Return toLogin</button>

        </form>

        
        </div>
      </div>
      <script src="/js/signUp.js"></script>
  </body>
</html> 
